name: Simple HTML/CSS/JS CI

on:
  push:
    branches: 
     - main
      - feature/*

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci    

      - name: Install linters
        run: |
          npm install -g htmlhint stylelint eslint

      - name: Lint HTML
        run: htmlhint "**/*.html"

      - name: Lint CSS
        run: stylelint "**/*.css"

      - name: Lint JS
        run: eslint "**/*.js"
